{%extends 'layout.html'%}
{%block content%}

<br><br>
{% if msg %}
    <script>
        alert('Email id alredy exist')
    </script>
{% endif %}
<center>

        <div class="container">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-secondary p-5">
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        {% csrf_token %}
                                        
                                        {{form.as_p}}
                                        <div>
                                            <input type="submit" value="REGISTER" id="compareBtn" class="btn-submit-reg">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </center>
{%endblock%}